@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

body {
  background: #201e43;
  font-family: "Titillium Web", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff1db;
}

h1 {
  margin-top: 20px;
}

#calendar-container {
  width: 90%;
  max-width: 1000px;
  margin-top: 20px;
}

.month-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  color: #fff1db;
  font-size: 18px;
}

.prev-button,
.next-button {
  background-color: #536493;
  border: none;
  color: #fff1db;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

.prev-button:hover,
.next-button:hover {
  background-color: #43507c;
}

.month-label {
  font-weight: bold;
}

#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  width: 100%;
}

.day-header {
  font-weight: bold;
  background-color: #536493;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  color: #fff1db;
}

.day {
  border: 1px solid #fff1db;
  border-radius: 5px;
  background: #fff1db;
  padding: 10px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  box-sizing: border-box;
  color: #201e43;
}

.empty-day {
  border: none;
}

.day .event {
  background-color: #d4bdac;
  border: 1px solid #ddd;
  padding: 2px;
  width: auto;
  font-size: 0.8em;
  text-align: left;
  border-radius: 5px;
  position: absolute;
  margin-top: 50%;
}

.day .event p {
  margin: 0;
}
